#!/usr/bin/env bash
export PROXMOX_HOST_IP=<your_dedicated_server_ip>
export PROXMOX_HOST_SSH_USER=<your_root_or_sudo_user>
export PROXMOX_HOST_SSH_KEY=~/.ssh/id_bastion
export PROXMOX_VMS_SSH_KEY=~/.ssh/id_rsa
export KUBECONFIG=~/.kube/kube-lab.conf
