# Local .terraform directories
.terraform/

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log
crash.*.log

# Exclude all .tfvars files, which are likely to contain sensitive data, such as
# password, private keys, and other secrets. These should not be part of version 
# control as they are data points which are potentially sensitive and subject 
# to change depending on the environment.
*.tfvars
*.tfvars.json

# Ignore override files as they are usually used to override resources locally and so
# are not checked in
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore transient lock info files created by terraform apply
.terraform.tfstate.lock.info

# Include override files you do wish to add to version control using negated pattern
# !example_override.tf

# Include tfplan files to ignore the plan output of command: terraform plan -out=tfplan
# example: *tfplan*

# Ignore CLI configuration files
.terraformrc
terraform.rc

terraform/output/*

# Ignore generated secrets file after running proxmox_terraform_access
ansible/secrets/*

# Ignore custom .env file
.env

# Ignore generated hosts.ini inventory file for dedicated server
ansible/inventory/hosts.ini

# Ignore generated via Terraform haproxy.cfg file 
ansible/playbooks/roles/haproxy/files/haproxy.cfg

# Ignore user-specific allow_domains.txt
ansible/playbooks/roles/haproxy/files/allow_domains.txt

# Ignore kubespray inventory.ini because we generate it via terraform
kubespray/inventory/inventory.ini

# Ignore kubespray credentials
kubespray/inventory/credentials

# Ignore user-specific Kubernetes manifests in examples (may contain real domains/secrets)
examples/**/ingress.yaml
examples/**/cluster-issuer.yaml

# Ignore vendor folder
vendor/**
