auto {{ bridge_name }}
iface {{ bridge_name }}
    address {{ bridge_cidr }}
    bridge-ports none
    bridge-stp off
    bridge-fd 0
    post-up   echo 1 > /proc/sys/net/ipv4/ip_forward
    post-up   iptables -t nat -A POSTROUTING -s '{{ bridge_network }}' -o {{ public_iface }} -j MASQUERADE
    post-down iptables -t nat -D POSTROUTING -s '{{ bridge_network }}' -o {{ public_iface }} -j MASQUERADE
    post-up   iptables -t raw -I PREROUTING -i fwbr+ -j CT --zone 1
    post-down iptables -t raw -D PREROUTING -i fwbr+ -j CT --zone 1